
<head>
	<title>Emagir</title>

	<!-- Icon for the game -->
	<link rel="stylesheet" href="/css/fontawesome-all.css">

	<!-- Styling for the website -->
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	
	<!-- Main Function -->
	<script type="text/javascript" src="/js/tictactoe.js"></script>
</head>