<!DOCTYPE html>
<html>
	<head>
		<% include ./partials/header %>
		<link rel="stylesheet" type="text/css" href="/css/pencilstudio.css">
	</head>
	<body>
		<% include ./partials/navbar %>

		<div class="left-sidebar">
		 	<!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul>
                    	<li class="nav-devider"></li>
                    	<li class="nav-label">Skill</li> 
                        <li><a href="#"><i class="fab fa-chrome"></i><span class="hide-menu">Web development</span></a></li>
                        <li><a href="#"><i class="fab fa-python"></i><span class="hide-menu">Python</span></a></li>
                        <li><a href="#"><i class="fas fa-pencil-alt"></i><span class="hide-menu">Basic Design Skills</span></a></li>
                        <li class="nav-label">Language</li>
                        <li><a href="#"><i class="fas fa-language"></i><span class="hide-menu">English</span></a></li>
                        <li><a href="#"><i class="fas fa-language"></i><span class="hide-menu">German</span></a></li>
                        <li><a href="#"><i class="fas fa-language"></i><span class="hide-menu">Vietnamese</span></a></li>
                        <li class="nav-label">Contact</li>
                        <li><a href="#"><i class="fas fa-mobile-alt"></i><span class="hide-menu"></span>Mobile</a></li>
                        <li><a href="#"><i class="far fa-envelope-open"></i><span class="hide-menu"></span>Email</a></li>
                        <li class="nav-label">Social </li>
                        <li>
	                        <ul>
	                        	<li><a href=""><i class="fab fa-linkedin"></i></a></li>
	                        	<li><a href=""><i class="fab fa-facebook-square"></i></a></li>
	                        	<li><a href=""><i class="fab fa-twitter-square"></i></a></li>
	                    	</ul>	
                        </li>
                    </ul>   
                </nav>
            </div>
		</div>

		<div class="page-wrapper">
			<div class="row">
				<div class="col-8">
					<h1 id="acc-name">TUAN LU DINH</h1>
					<h3 id="comment">Bachelor of Applied Science - BASc at Frankfurt University of Applied Sciences</h3>
				</div>
				<div class="col-4">
					<img class="mx-auto d-block" id="acc-img" src="/img/acc-img.jpg">
				</div>
			</div>
			<div class="row">
				<div class="col-lg-5">
					<div class="card">
						<div class="card-title">
							<h3>Experience</h3>
						</div>
						<div class="card-body">
							<div class="card-content">
								<div class="media">
									<div class="media-left">
										<img src="/img/gannha.jpg">
									</div>
									<div class="media-content">
										<h4>Project Engineer</h4>
                                        <div class="card-content-date">09/2016-06/2017</div>
                                        <p class="f-s-12">R&D: IoT back-end, UI developer </p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</body>


