<!DOCTYPE html>
<html>
	<% include ./partials/header %>
	<body>
		<h1>Tic-tac-toe</h1>
		<h3>The game</h3>
		<div id="game"></div>
		<div>
			<p>This is player <span id="turn">1</span> turn</p>
		</div>
	</body>
</html>