@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	font-family: Roboto;
	color: #fff;
	background-color: #222;
	text-align: center;  
}

h1 {
	margin-bottom: 0;
}

h3 {
	margin-top: 0; 
} 

table {
	margin: auto;
	table-layout: fixed;
}

#game div {
	margin: auto;
}

#game table{
	border: 5px solid #fff;
	border-collapse: collapse;
}

#game tr, #game td {
	border: 3px solid #fff;
	height: 20px;
	width: 20px;
	text-align: center;
}

#score tr, #score td{
	border: 10px solid #fff;
	text-align: center;
	height: 100px;
	width: 100px;
}

#score h4{
	text-decoration: underline;
}